<template>
  <div class="dashboard-page">
    
    <b-row>
        <md-button class="md-icon-button md-primary">
        <md-icon>menu</md-icon>
        </md-button>
        <h1 class="page-title"><b>KUKA Robot Status &nbsp;</b></h1>
    </b-row>
    <b-row>
      <b-col lg="6" xs="12" style="height:100%;">
        <b-row>
          <b-col lg="4" xs="12">
                <Widget
                  title="<h3><b>Axis Status</b></h3>"
                  customHeader
                  style="height:95%;"
                  >
                  <center>
                  <div class="widget-body p-5">
                    <h4>
                    <div>
                  &nbsp; 
                  <a>
                    <i class="fa fa-circle text-success mr-2" />
                    <span class="labelName"><b>Axis7：Enable</b></span>
                  </a>
                    </div>
                    <hr>
                    <div>
                      &nbsp; 
                      <a>
                        <i class="fa fa-circle text-success mr-2" />
                        <span class="labelName"><b>Axis6：Enable</b></span>
                      </a>
                    </div>
                    <hr>
                    <div>
                      &nbsp; 
                      <a>
                        <i class="fa fa-circle text-success mr-2" />
                        <span class="labelName"><b>Axis5：Enable</b></span>
                      </a>
                    </div>
                              <hr>
                    <div>
                      &nbsp; 
                      <a>
                        <i class="fa fa-circle text-success mr-2" />
                        <span class="labelName"><b>Axis4：Enable</b></span>
                      </a>
                    </div>
                              <hr>

                    <div>
                      &nbsp; 
                      <a>
                        <i class="fa fa-circle text-success mr-2" />
                        <span class="labelName"><b>Axis3：Enable</b></span>
                      </a>
                    </div>
                              <hr>

                    <div>
                      &nbsp; 
                      <a>
                        <i class="fa fa-circle text-success mr-2" />
                        <span class="labelName"><b>Axis2：Enable</b></span>
                      </a>
                    </div>
                              <hr>

                    <div>
                      &nbsp; 
                      <a>
                        <i class="fa fa-circle text-success mr-2" />
                        <span class="labelName"><b>Axis1：Enable</b></span>
                      </a>
                    </div>
                    </h4>
                  </div>
                  </center>
                </Widget>
          </b-col>
          <b-col lg="8" xs="12">
             <Widget 
              title="<h3><b>Robot 3D illustrator</h3></b>"
              customHeader
              style="height:95%;"
              >
              <div class="widget-body p-5">
              <TDModel/>
              </div>
            </Widget>
          </b-col>
        </b-row>
        <b-row>
          <b-col lg="12" xs="12">
             <Widget
              title="<h3><b> Robot History View </h3></b>"
              customHeader
              style="height:100%;">
              <div class="widget-body p-2">
                <!-- <mdsp-aggregate-chart :variablePaths="variablePaths"></mdsp-aggregate-chart> -->
                <br>
                <br>
                <LineChart/>
              </div>
              </Widget>
          </b-col>
        </b-row>
      </b-col>
        <b-col lg="6" xs="12" style="height:100%;">
          <b-row>
            <b-col lg="12" xs="12">
               <Widget 
                  title="<h3><b>Robot Torque Analyze</h3></b> "
                  customHeader
                  style="height:95%;"
                  >
                  <div class="widget-body p-5">
                    <RadialBar/>
                  </div>
                </Widget>
            </b-col>
          </b-row>
          <b-row>
            <b-col lg="12" xs="12">
              <Widget
                title="<h3><b>Robot Actual Position Analyze</h3></b>"
                customHeader
                style="height:630px;">
                <div class="widget-body p-5">
                  <BarChart/>
                </div>
                </Widget>
            </b-col>
          </b-row>
        </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import Map from './components/Map/Map';
import AnimatedNumber from "animated-number-vue";
import RadialBar from './components/AspectChart/RadialBar';
import BarChart from './components/AspectChart/BarChart';
import LineChart from './components/AspectChart/LineChart';
import TDModel from './components/TDModel/TDModel'
import axios from "axios";

// const aggregateChart = document.querySelector('mdsp-aggregate-chart');

// aggregateChart.variablePaths = 'ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition';

const todos = [
  {
    description: 'Take Sebastian to basketball practice.',
    isComplete: false,
    dates: { weekdays: 6, weeklyInterval: 2 }, // Every other Friday
    color: '#ff8080',       // Red
  },
  {
    description: 'German courses',
    isComplete: false,
    dates: new Date(),
    color: '#64a4ff',       // Red
  },
  {
    description: 'Constitution Day',
    isComplete: false,
    dates: new Date(Date.now() + 6*24*60*60*1000), // in 6 days
    color: '#6ae696',       // Red
  },
];

var test = [];

export default {
  name: 'Dashboard',
  components: {
    Widget,
    Map,
    AnimatedNumber,
    RadialBar,
    BarChart,
    LineChart,
    TDModel,
    // variablePaths: ['ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition']
  },
  data() {
    return {
      checkedArr: [false, false, false],
      dataCollection: null,
      todos,
      test
    };
  },
  mounted () {
    this.fillData();
    this.getData();
  },
  methods: {
    checkTable(id) {
      let arr = [];
      if (id === 0) {
        const val = !this.checkedArr[0];
        for (let i = 0; i < this.checkedArr.length; i += 1) {
          arr[i] = val;
        }
      } else {
        arr = this.checkedArr;
        arr[id] = !arr[id];
      }
      if (arr[0]) {
        let count = 1;
        for (let i = 1; i < arr.length; i += 1) {
          if (arr[i]) {
            count += 1;
          }
        }
        if (count !== arr.length) {
          arr[0] = !arr[0];
        }
      }
      Vue.set(this, 'checkedArr', arr);
    },
    fillData () {
      this.dataCollection = {
        labels: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#f87979',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()]
          }, {
            label: 'Data Two',
            backgroundColor: '#7c87f8',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()]
          }
        ]
      }

      setTimeout(this.fillData, 3000);
    },
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
    getData() {
        // axios.get('https://semens-practice.herokuapp.com/api/v1/')
        // .then(function (res) {
        //   // console.log(res);
        //   // console.log(res.data[0]['R1axisLoad']);
        //   // console.log(res.data);
        //   // console.log(res.data[0]);
        //   test = res.data;
        //   console.log(test[7])
          
        // })
        // .catch(function (err) {
        //   console.log(err);
        // });
    }
  },
  computed: {
    calendarAttributes() {
      return [
        // Today attribute
        {
          contentStyle: {
            fontWeight: '700',
            fontSize: '.9rem',
          },
          dates: new Date(),
        },
        // Attributes for todos
        ...this.todos.map(todo => ({
          dates: todo.dates,
          dot: {
            backgroundColor: todo.color,
            opacity: todo.isComplete ? 0.3 : 1,
          },
          popover: {
            label: todo.description,
          },
        })),
      ];
    },
  },
  // ready: function () {
  //   // setInterval(function () {
  //   //   this.$router.push('/tables')
  //   // }.bind(this), 0); 
  //   this.fillData();
  // }
};
</script>

<style src="./Dashboard.scss" lang="scss" />
