html {
  font-weight: 100;
  font-size: $font-size-initial;
}

html, body {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  color: $text-color;
  // color: black;
  // background: url('../assets/bg-pattern.svg'), radial-gradient(farthest-side ellipse at 10% 0,$body-bg-gradient-start, $body-bg-gradient-end);
  background: url('../assets/bg-pattern.svg'), radial-gradient(farthest-side ellipse at 10% 0,rgb(69,159,193), rgb(36,90,118));
  // background-color: lightseagreen;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

a,
.dropdown-item,
.btn {
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  font-family: $font-family-base;
}

th {
  font-weight: 600;
}

label {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

ul ul,
ol ul {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

