<template>
    <div style="height:400px;width:400px;">
        <!-- <model-obj :backgroundAlpha="0"
                  :backgroundColor="'#13ce66'"
        @on-load="onLoad"
        src="static/models/obj/objj/LBR.obj"
        mtl="static/models/obj/objj/LBR.mtl"></model-obj> -->
        <model-gltf 
                    @on-load="onLoad"
                    :backgroundAlpha="0"
                  :backgroundColor="'#13ce66'"
                  src="static/models/gltf/KUKA/LBR.gltf"></model-gltf>
                  <!-- <model-stl 
                    :rotation="rotation"
                    @on-load="onLoad"
                    :backgroundAlpha="0"
                  :backgroundColor="'#13ce66'"
                  src="static/models/stl/LBR.stl"></model-stl> -->
    </div>
</template>

<script>
/* eslint-disable*/
import { ModelObj, ModelStl, ModelGltf } from 'vue-3d-model';
export default {
    data () {
            return {
                rotation: {
                    x: 0,
                    y: 0,
                    z: 0
                }
            }
        },
        methods: {
            onLoad () {
                this.rotate();
            },
            rotate () {
                this.rotation.y -= 0.01;
                requestAnimationFrame( this.rotate );
            }
        },
        components: {
            ModelObj,
            ModelStl,
            ModelGltf
        }
}
</script>