@import '../../styles/app';

.header {
  z-index: 100;
  padding: 0 1.85rem 0;

  @include media-breakpoint-down(md) {
    padding: 7px 10px;
  }

  :global(.dropdown-menu) {
    // background-color: transparentize($body-bg, .15);
    background-color: transparentize(black, .15);
    color: $text-muted;
    margin-top: 12.5px;
  }

  :global(.dropdown-item) {

    .avatar {
      margin-top: 0;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: $addition-bg;
      color: $text-color;
      outline: none;
    }
  }

  :global(.dropdown-menu-messages) {
    min-width: 20rem;
  }
}

.input-group-text {
  padding-right: 0;
  padding-left: .85rem;
  color: $gray-600;
}

.avatar {
  margin-top: -7px;
}

.divider {
  display: block;
  height: 38px;
  width: 1px;
  margin: 0 15px;
  background: linear-gradient(rgba(51,51,51,0), rgba(51,51,51,0.5), rgba(102,102,102,0));
}

.header-alert {
  background: $text-transparent;
  border: none;
  font-size: $font-size-sm;
  line-height: 19px;
  margin-bottom: 0;
  padding: 3px 9px;
  text-shadow: none;
  border-radius: 10px;
  color: $text-color;

  :global(.close) {
    margin-left: 1rem;
  }

  @media (max-width: breakpoint-max('lg')) {
    display: none;
  }
}

.navbar-nav-mobile {
  flex-direction: row;

  :global(.nav-link) {
    padding-right: $navbar-nav-link-padding-x;
    padding-left: $navbar-nav-link-padding-x;
  }

  :global(.dropdown-menu) {
    position: absolute;

    @media (max-width: breakpoint-max('xs')) {
      position: fixed;
      top: $navbar-height;
      right: 1rem;
      margin-top: 0;
    }
  }
}