<template>
    <div>
      <div id="chart1">
        <apexchart type=line height=230 :options="chartOptionsArea" :series="series" />
      </div>
      <div id="chart2">
        <apexchart type=area height=130 :options="chartOptionsBrush" :series="series" />
      </div>
     </div>
</template>
<script>
/* eslint-disable */
    
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";

Vue.component('apexchart', VueApexCharts);

var data = [];

export default {
  data: function () {
        return {
          data,
          series: [{
            data: this.generateDayWiseTimeSeries(185, {
              min: 30,
              max: 90
            })
          }],
          chartOptionsArea: {
            chart: {
              id: 'chartArea',
              toolbar: {
                autoSelected: 'pan',
                show: false
              }
            },
          title: {
            text: 'Brush Chart',
            align: 'Center'
          },
            colors: ['#546E7A'],
            stroke: {
              width: 3
            },
            dataLabels: {
              enabled: false
            },
            fill: {
              opacity: 1,
            },
            markers: {
              size: 0
            },
            xaxis: {
              type: 'datetime'
            }
          },
          chartOptionsBrush: {
            chart: {
              id: 'chartBrush',
              brush: {
                target: 'chartArea',
                enabled: true
              },
              selection: {
                enabled: true,
                xaxis: {
                  min: new Date('19 Jun 2017').getTime(),
                  max: new Date('14 Aug 2017').getTime()
                }
              },
            },
            colors: ['#008FFB'],
            fill: {
              type: 'gradient',
              gradient: {
                opacityFrom: 0.91,
                opacityTo: 0.1,
              }
            },
            xaxis: {
              type: 'datetime',
              tooltip: {
                enabled: false
              }
            },
            yaxis: {
              tickAmount: 2
            }
          }
        }
      }, 
      // beforeMount () {
      //   this.getData();
      // },
      methods: {
        generateDayWiseTimeSeries: function (count, yrange) {
            var series = [];
            var x;
            var y;
            axios.get('/api/iottsaggregates/v3/aggregates/ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition?from=2019-07-15T00:00:00%2B01:00&to=2019-07-16T00:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Motor_Temp')
            .then(function (res) {
              data = res.data;
              console.log(data);
              for(var i=0;i<data.length;++i){
                  x = data[i]["Motor_Temp"].lasttime;
                  console.log(x);
                  y = data[i]["Motor_Temp"].average;
                  console.log(y);
                  series.push([x,y]);
              }
            })
            .catch(function (err) {
              console.log(err);
            });
          
          // var i = 0;

          // while (i < count) {
          //   var x = baseval;
          //   var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

          //   series.push([x, y]);
          //   baseval += 86400000;
          //   i++;
          // }

          console.log(series)
          return series;
        },
        getData() {
          axios.get('/api/iottsaggregates/v3/aggregates/ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition?from=2019-07-15T00:00:00%2B01:00&to=2019-07-16T00:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Motor_Temp')
            .then(function (res) {
              data = res.data;
              console.log(data);
            })
            .catch(function (err) {
              console.log(err);
            });
        }
      }
}
</script>