<template>
    <div id="chart">
      <b-row>
      <b-col lg="3" xs="12" style="height:500px;">
      <img src="@/assets/kuka iiwa diagram.png" style="height:100%;">
      </b-col>
      <b-col lg="9" style="height:500px;">
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J1 [{{angle1[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po1[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J2 [{{angle2[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po2[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>        
        <hr>
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J3 [{{angle3[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po3[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J4 [{{angle4[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po4[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J5 [{{angle5[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po5[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J6 [{{angle6[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po6[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col lg="3" xs="12" style="height:100%;">
        <h3>J7 [{{angle7[0]}}&deg;]</h3>
          </b-col>
          <b-col lg="9" xs="12" style="height:100%;">
        <b-progress height="3rem" variant="warning" :value="po7[0]"  class="mb-2" ></b-progress>
          </b-col>
        </b-row>
      </b-col>
      </b-row>
    </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";
import { Script } from 'vm';
    export default {
    data() {
      return {
        angle1:[],
        angle2:[],
        angle3:[],
        angle4:[],
        angle5:[],
        angle6:[],
        angle7:[],
        po1:[],
        po2:[],
        po3:[],
        po4:[],
        po5:[],
        po6:[],
        po7:[]
      }
    },
     methods: {
        async getData() {
          try {
            let res = await axios.get('/api/iottimeseries/v3/timeseries/046675f41c5c4c54ba60fe8a2627a5f5/KC_KUKA_Aspect');
            var data = res.data[0];
            var position1 = data.Position1;
            var ang1 = Math.round(position1 * 100)/100;
            var var1 = Math.abs(ang1) / 170 * 100;
            if(var1 != this.po1[0]) {
              this.angle1 = [];
              this.angle1.push(ang1);
              this.po1 = [];
              this.po1.push(var1);
              
            }
            var position2 = data.Position2;
            var ang2 = Math.round(position2 * 100)/100;
            var var2 = (Math.abs(ang2) / 120) * 100;
            if(var2 != this.po2[0]) {
              this.po2 = [];
              this.po2.push(var2);
              this.angle2 = [];
            this.angle2.push(ang2);
            }
            var position3 = data.Position3;
            var ang3 = Math.round(position3 * 100)/100;
            var var3 = Math.abs(ang3) / 170 * 100;
            if(var3 != this.po3[0]) {
              this.po3 = [];
              this.po3.push(var3);
              this.angle3 = [];
            this.angle3.push(ang3);
            }
            var position4 = data.Position4;
            var ang4 = Math.round(position4 * 100)/100;
            var var4 = Math.abs(ang4) / 120 * 100;
            if(var4 != this.po4[0]) {
              this.po4 = [];
              this.po4.push(var4);
              this.angle4 = [];
            this.angle4.push(ang4);
            }
            var position5 = data.Position5;
            var ang5 = Math.round(position5 * 100)/100;
            var var5 = Math.abs(ang5) / 170 * 100;
            if(var5 != this.po5[0]) {
              this.po5 = [];
              this.po5.push(var5);
              this.angle5 = [];
            this.angle5.push(ang5);
            }
            var position6 = data.Position6;
            var ang6 = Math.round(position6 * 100)/100;
            var var6 = Math.abs(ang6) / 120 * 100;
            if(var6 != this.po6[0]) {
              this.po6 = [];
              this.po6.push(var6);
              this.angle6 = [];
            this.angle6.push(ang6);
            }
            var position7 = data.Position7;
            var ang7 = Math.round(position7 * 100)/100;
            var var7 = Math.abs(ang7) / 175 * 100;
            if(var7 != this.po7[0]) {
              this.po7 = [];
              this.po7.push(var7);
              this.angle7 = [];
              this.angle7.push(ang7);
            }
          } catch (err) {
              console.log(err);
          }
          setTimeout(this.getData, 1000);
        }
      },
      created() {
        this.getData();
      }
  }
</script>