<template>
<div class="container">
    <div class="row">
      <md-button @click="getTorque(1)">1</md-button>
      <md-button @click="getTorque(2)">2</md-button>
      <md-button @click="getTorque(3)">3</md-button>
      <md-button @click="getTorque(4)">4</md-button>
      <md-button @click="getTorque(5)">5</md-button>
      <md-button @click="getTorque(6)">6</md-button>
      <md-button @click="getTorque(7)">7</md-button>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
      <apexchart type=area height=350 :options="chartOptions" :series="series" />
      </div>
    </div>
    </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";
import { setTimeout } from 'timers';
export default {
 components: {
        apexchart: VueApexCharts,
      },
      data: function(){
        return {
        currentValue: 1,
        array: [],
        array2: [],
        date: new Date().toISOString().toString().slice(0,10),
        series: [{
          name: 'Torque',
          data: []
        }, {
          name: 'Position',
          data: []
        }],
        chartOptions: {
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          colors: ['#FFA500','#4e9d9d'],
          // title: {
          //   text: 'Area with Negative Values',
          //   align: 'left',
          //   style: {
          //     fontSize: '14px'
          //   }
          // },
          xaxis: {
            type: 'datetime',
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            }
          },
          yaxis: {
            tickAmount: 4,
            floating: false,

            labels: {
              style: {
                color: '#000000',
              },
              offsetY: -7,
              offsetX: 0,
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false
            }
          },
          fill: {
            opacity: 0.5
          },
          tooltip: {
            x: {
              format: "yyyy",
            },
            fixed: {
              enabled: false,
              position: 'topRight'
            }
          },
          grid: {
            yaxis: {
              lines: {
                offsetX: -30
              }
            },
            padding: {
              left: 20
            }
          },
        }
        }
      },
      methods: {
        async getTorque(val) {
          if(val == null) {
            val = this.currentValue;
          }else {
            this.currentValue = val;
          }
          this.series[0].name = 'Torque' + val
          this.series[1].name = 'Position' + val
          try{
          let res = await axios.get('/api/iottsaggregates/v3/aggregates/046675f41c5c4c54ba60fe8a2627a5f5/KC_KUKA_Aspect?from=2019-08-19T00:00:00%2B01:00&to=2019-08-25T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour');
          var data = res.data;
          console.log(data);
          var torque = 'Torque' + val
          var position = 'Position' + val
          // this.series[0].data = [];
          this.array = [];
          this.array2 = [];
              for(var i=0;i<data.length;++i){
                if (torque in data[i]){
                  var x = data[i][torque].lasttime;
                  var y = data[i][torque].average;
                  this.array.push([x,Math.round(y * 100)/100]);
                  // this.series[0].data.push([x,Math.round(y * 100)/100]);
                }
                 if (position in data[i]){
                  var x2 = data[i][position].lasttime;
                  var y2 = data[i][position].average;
                  this.array2.push([x2,Math.round(y2 * 100)/100]);
                  // this.series[1].data.push([x,Math.round(y * 100)/100]);
                }
              }
              if(JSON.stringify(this.array) != JSON.stringify(this.series[0].data)) {
                this.series[0].data = this.array;
              } 
              if (JSON.stringify(this.array2) != JSON.stringify(this.series[1].data)){
                this.series[1].data = this.array2;
              }
              // this.getPosition(val);
              
          } catch(err) {
            console.log(err);
          }
          setTimeout(this.getTorque,1000)
        },
         async getPosition(val) {
            try{
          let res = await axios.get('/api/iottsaggregates/v3/aggregates/046675f41c5c4c54ba60fe8a2627a5f5/KC_KUKA_Aspect?from=2019-08-19T00:00:00%2B01:00&to=2019-08-25T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Position' + val);
          var data = res.data;
          var position = 'Position' + val
          console.log(data);
          // this.series[1].data = [];
          this.array = [];
              for(var i=0;i<data.length;++i){
                if (position in data[i]){
                  var x = data[i][position].lasttime;
                  console.log(x);
                  var y = data[i][position].average;
                  console.log(y);
                  this.array.push([x,Math.round(y * 100)/100]);
                  // this.series[1].data.push([x,Math.round(y * 100)/100]);
                }
              }
              if (JSON.stringify(this.array) != JSON.stringify(this.series[1].data)){
                this.series[1].data = this.array;
              }
              
          } catch(err) {
            console.log(err);
          }
         }
      },
      created() {
        this.getTorque();
      }
}
</script>
