<template>
    <div id="chart">
      <apexchart type=area height=350 :options="chartOptions" :series="series" />
    </div>
</template>
 <script>
 /* eslint-disable */
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";
var data = [];
// var dataSet = [[],[],[]]
 export default {
   components: {
        apexchart: VueApexCharts,
      },
      data: function() {
        return {
        data,
        // dataSet: this.getData(),
        series: [{
            name: 'PRODUCT A',
            data: []
          }
          , {
            name: 'PRODUCT B',
            data:  []
          }, {
            name: 'BASE LINE',
            data: []
          }
          ],
        chartOptions: {
          chart: {
            stacked: false,
            zoom: {
              enabled: false
            },
          },
          plotOptions: {
            line: {
              curve: 'smooth',
            }
          },
          dataLabels: {
            enabled: false
          },

          markers: {
            size: 0,
            style: 'full',
          },
          fill: {
            type: 'gradient',
            gradient: {
              shadeIntensity: 1,
              inverseColors: false,
              opacityFrom: 0.45,
              opacityTo: 0.05,
              stops: [20, 100, 100, 100]
            },
          },
          yaxis: {
            labels: {
              style: {
                color: '#8e8da4',
              },
              offsetX: 0
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false
            }
          },
          xaxis: {
            type: 'datetime'
          },
          title: {
            text: 'Irregular Data in Time Series',
            align: 'left',
            offsetX: 14
          },
          tooltip: {
            shared: true
          },
          legend: {
            position: 'top',
            horizontalAlign: 'right',
            offsetX: -10
          }
        }
        }
      },
      methods: {
        async getData() {
            var x;
            var y;
            var array
            var date = new Date().toISOString().toString().slice(0,10);
            console.log(date);
            // axios.get('/api/iottsaggregates/v3/aggregates/ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition?from='+ date +'T00:00:00%2B01:00&to='+ date +'T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Motor_Temp')
            //     .then(function (res) {
            //     data = res.data;
            //     console.log(data);
            //     dataSet[0] = [];
            //     dataSet[1] = [];
            //     dataSet[2] = [];
            //     for(var i=0;i<data.length;++i){
            //         x = data[i]["Motor_Temp"].lasttime;
            //         y = data[i]["Motor_Temp"].average;
            //         dataSet[0].push([x,y]);
            //         dataSet[1].push([x,y + 10]);
            //         dataSet[2].push([x,50]);
            //     }
            //     })
            //     .catch(function (err) {
            //     console.log(err);
            //     });
            try{
                var array = [[],[],[]]
                let res = await axios.get('/api/iottsaggregates/v3/aggregates/ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition?from='+ date +'T00:00:00%2B01:00&to='+ date +'T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Motor_Temp');
                data = res.data;
                console.log(data);
                this.series[0].data = [];
                this.series[1].data = [];
                this.series[2].data = [];
                for(var i=0;i<data.length;++i){
                    x = data[i]["Motor_Temp"].lasttime;
                    y = data[i]["Motor_Temp"].average;
                    this.series[0].data.push([x,y]);
                    this.series[1].data.push([x,y + 10]);
                    this.series[2].data.push([x,50]);
                    // array[0].push([x,y]);
                    // array[1].push([x,y + 10]);
                    // array[2].push([x,50]);
                }
                return array;
            }catch(err) {
                console.log(err);
            }
            setTimeout(this.getData, 10000);
        }
      },
    //   computed: {
    //     series: function() {
    //       return [{
    //         name: 'PRODUCT A',
    //         data: this.dataSet[0]
    //       }
    //       , {
    //         name: 'PRODUCT B',
    //         data: this.dataSet[1]
    //       }, {
    //         name: 'BASE LINE',
    //         data: this.dataSet[2]
    //       }
    //       ]
    //     },
    //   },
      created() {
          this.getData();
      },
      mounted: function () {
        // var ts1;
        // var ts2;
        // var ts3;
        
        // for (var i = 0; i < 12; i++) {
        //   ts1 = ts1 + 86400000;
        //   var innerArr = [ts1, dataSeries[2][i].value];
        //   this.dataSet[0].push(innerArr)
        // }
        // for (var i = 0; i < 18; i++) {
        //   ts2 = ts2 + 86400000;
        //   var innerArr = [ts2, dataSeries[1][i].value];
        //   this.dataSet[1].push(innerArr)
        // }
        // for (var i = 0; i < 12; i++) {
        //   ts3 = ts3 + 86400000;
        //   var innerArr = [ts3, dataSeries[0][i].value];
        //   this.dataSet[2].push(innerArr)
        // }
      }
 }
 </script>