<template>
  <b-collapse class="sidebar-collapse" id="sidebar-collapse" :visible="sidebarOpened">
  <nav
    :class="{sidebar: true}"
  >
    <header class="logo">
      <router-link to="/app">Light <span class="fw-semi-bold">Blue</span></router-link>
    </header>
    <br>
    <center>
    <h4>Asset Name</h4>
    <br>
    </center>
    <span class="thumb float-left mr">
                  <img class="rounded-circle" :src="person.src" :alt="person.name" />
                  <i class="status status-bottom bg-success" />
                </span>
    <h6 class="m-0">{{ person.name }}</h6>
                  <p class="help-block text-ellipsis m-0">
                    DI&ensp; {{ person.department }}
                  </p>
                  <p class="help-block text-ellipsis m-0">
                    {{ person.position}}
                  </p>
                  <br>
                  <center>
                  <p class="help-block text-ellipsis m-0">
                    {{ person.phone}}
                  </p>
                  <p class="help-block text-ellipsis m-0">
                    {{ person.mail }}
                  </p>
          <md-field>
                  <label for="DI">DI</label>
                  <md-select @md-selected="onChange($event)" name="DI" id="DI">
                    <md-optgroup label="GM" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Tino Hildebrand">Tino Hildebrand</md-option>
                    </md-optgroup>

                    <md-optgroup label="CS" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Yu-Chiao Su">Yu-Chiao Su</md-option>
                      <md-option value="Chien-Yu Wu">Chien-Yu Wu</md-option>
                      <md-option value="Nick Chung">Nick Chung</md-option>
                    </md-optgroup>
                    <md-optgroup label="FA" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Kevin Lai">Kevin Lai</md-option>
                      <md-option value="Richard Chou">Richard Chou</md-option>
                    </md-optgroup>
                  </md-select>
                </md-field>
                </center>
    <ul class="nav">
      <NavLink
              :activeItem="activeItem"
              header="Dashboard"
              link="/app/dashboard"
              iconName="flaticon-home"
              index="dashboard"
              isHeader
      />      
      <NavLink
              :activeItem="activeItem"
              header="Maintenance"
              link="/app/maintenance"
              iconName="flaticon-calendar"
              index="maintenance"
              isHeader
      />
      <h5 class="navTitle">TEMPLATE</h5>
      <NavLink
              header="Typography"
              link="/app/typography"
              iconName="flaticon-list"
              index="typography"
              isHeader
      />
      <NavLink
              header="Tables Basic"
              link="/app/tables"
              iconName="flaticon-equal-1"
              index="tables"
              isHeader
      />
      <NavLink
              header="Notifications"
              link="/app/notifications"
              iconName="flaticon-star"
              index="notifications"
              isHeader
      />
      <NavLink
              :activeItem="activeItem"
              header="Components"
              link="/app/components"
              iconName="flaticon-network"
              index="components"
              :childrenLinks="[
          { header: 'Charts', link: '/app/components/charts' },
          { header: 'Icons', link: '/app/components/icons' },
          { header: 'Maps', link: '/app/components/maps' },
        ]"
      />
    </ul>
    <h5 class="navTitle d-sm-down-none">
      LABELS
      <a class="actionLink">
        <i class="la la-plus float-right" />
      </a>
    </h5>
    <ul class="sidebarLabels d-sm-down-none">
      <li>
        <a href="#">
          <i class="fa fa-circle text-warning mr-2" />
          <span class="labelName">My Recent</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle text-gray mr-2" />
          <span class="labelName">Starred</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle text-danger mr-2" />
          <span class="labelName">Background</span>
        </a>
      </li>
    </ul>

    <h5 class="navTitle d-sm-down-none">
      PROJECTS
    </h5>
    <div class="sidebarAlerts d-sm-down-none">
      <b-alert
        v-for="alert in alerts"
        :key="alert.id"
        class="sidebarAlert" variant="transparent"
        show dismissible
      >
        <span>{{alert.title}}</span><br />
        <b-progress class="sidebarProgress progress-xs mt-1"
          :variant="alert.color" :value="alert.value" :max="100" />
        <small>{{alert.footer}}</small>
      </b-alert>
    </div>
  </nav>
  </b-collapse>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import { mapState, mapActions } from 'vuex';
import NavLink from './NavLink/NavLink';

export default {
  name: 'Sidebar',
  components: { NavLink },
  data() {
    return {
      Widget,
      member: [
        {
          name: 'Tino Hildebrand',
          department: '',
          position: 'GM',
          phone: '+886960548600',
          mail: 'tino.hildebrand@siemens.com',
          src: require('../../assets/people/Tino.jpg')
        },
        {
          name: 'Yu-Chiao Su',
          department: 'CS',
          position: 'Deputy Director',
          phone: '+886981986935',
          mail: 'yuchiao.su@siemens.com',
          src: require('../../assets/people/Tino.jpg')
        },
        {
          name: 'Nick Chung',
          department: 'CS',
          position: 'Summer Intern',
          phone: '+886988402920',
          mail: 'nick.chung@siemens.com',
          src: require('../../assets/people/Tino.jpg')
        },
        {
          name: 'Chien-Yu Wu',
          department: 'CS',
          position: 'DAE',
          phone: '+886962019770',
          mail: 'chienyu.wu@siemens.com',
          src: require('../../assets/people/Chien-Yu.jpg')
        },
        {
          name: 'Kevin Lai',
          department: 'FA',
          position: ' APM',
          phone: '+886976062960',
          mail: ' kevin.lai@siemens.com',
          src: require('../../assets/people/Kevin.jpg')
        },
        {
          name: 'Richard Chou',
          department: 'FA',
          position: 'Summer Intern',
          phone: '+886919681361',
          mail: 'richard.chou@siemens.com',
          src: require('../../assets/people/Richard.jpg')
        }
      ],
      person: {
        name: 'Tino Hildebrand',
        department: '',
        position: 'GM',
        phone: '+886960548600',
        mail: 'tino.hildebrand@siemens.com',
        src: require('../../assets/people/Tino.jpg')
      },
      alerts: [
        {
          id: 0,
          title: 'Sales Report',
          value: 15,
          footer: 'Calculating x-axis bias... 65%',
          color: 'info',
        },
        {
          id: 1,
          title: 'Personal Responsibility',
          value: 20,
          footer: 'Provide required notes',
          color: 'danger',
        },
      ],
    };
  },
  methods: {
    ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split('/');
      paths.pop();
      this.changeSidebarActive(paths.join('/'));
    },
    onChange(event) {
      for(var i = 0 ; i < this.member.length;i ++){
        if ( this.member[i].name == event ) {
          this.person = this.member[i];
        }
      }
    }
  },
  created() {
    this.setActiveByRoute();
  },
  computed: {
    ...mapState('layout', {
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement,
    }),
  },
};
</script>

<!-- Sidebar styles should be scoped -->
<style src="./Sidebar.scss" lang="scss" scoped/>
