@import '../../styles/app';
.sidebar {
  color: $sidebar-color;
  margin-left: 15px;

  @include media-breakpoint-up('md') {
    position: absolute;
    left: 0;
    top: 0;
    width: $sidebar-width;
    bottom: 0;
  }
}

.logo {
  margin: 15px 0;
  font-size: 18px;
  width: 100%;
  font-weight: $font-weight-thin;
  text-align: center;
  transition: width $sidebar-transition-time ease-in-out;

  a {
    color: $text-color;
    padding: 0 5px;
    text-decoration: none;
    white-space: nowrap;
  }

  @include media-breakpoint-down('sm') {
    display: none;
  }
}

.nav {
  width: 100%;
  padding: 30px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navTitle {
  margin: 35px 0 5px 11px;
  font-size: $font-size-larger;
  transition: opacity $sidebar-transition-time ease-in-out;

  @media (min-width: breakpoint-min(lg)) {
    opacity: 1;
  }
}

.actionLink {
  color: #aaa;
  float: right;
  margin-right: 15px;
  margin-top: -1px;

  .la {
    font-size: $font-size-sm;
    margin-top: 4px;
  }
}

.labelName {
  opacity: 1;
  transition: opacity $sidebar-transition-time ease-in-out;
}

.glyphiconSm {
  font-size: 9px;
}

.sidebarLabels {
  list-style-type: none;
  padding: 11px;
  padding-right: 15px;

  > li + li {
    margin-top: 10px;
  }

  li > a {
    font-size: $font-size-mini;
    color: $sidebar-color;
    text-decoration: none;

    > i {
      font-size: 11px;
      vertical-align: 1px;
      transition: margin-left $sidebar-transition-time ease-in-out;
    }
  }
}

.sidebarAlerts {
  margin-bottom: $spacer * 2;
  transition: opacity $sidebar-transition-time ease-in-out;
  opacity: 1;
}

.sidebarAlert {
  background: transparent;
  margin-bottom: 0;
  padding: 0.5rem 11px;
  padding-right: 15px;
}

.groupTitle {
  margin-bottom: 15px;
}

.sidebar-collapse {
  @media (min-width: breakpoint-min('md')) {
    display: block !important;
  }
}